@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #e8f5e9;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container {
  margin-top: 50px;
}
.button {
  margin-bottom: 20px;
}
.table {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  line-height: 3.5cap;
}
.table th {
  background-color: #00796b;
  color: whitesmoke;
  text-align: center;
}
.modal-body .form-group {
  margin-bottom: 15px;
}
.modal-body label {
  font-weight: bold;
}
.modal-content {
  background-color: #e8f5e9;
}
.modal-header,
.modal-footer {
  border: none;
}
.btn-primary {
  background-color: #00796b;
  border-color: #00796b;
}
.btn-primary:hover {
  background-color: #004d40;
  border-color: #004d40;
}
.btn-secondary {
  background-color: #004d40;
  border-color: #004d40;
  padding: 0.5rem 1rem;
}
.btn-secondary:hover {
  background-color: #00251a;
  border-color: #00251a;
}

#modal-verify .modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

#modal-verify .modal-header {
  background-color: #4caf50;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
}

#modal-verify .modal-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

#modal-verify .modal-body {
  padding: 20px;
  font-size: 16px;
  color: #555555;
  text-align: center;
}

#modal-verify .modal-footer {
  border-top: none;
  padding: 15px;
  justify-content: center;
}

#modal-verify .btn-secondary {
  background-color: #00796b;
  color: #333333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#modal-verify .btn-secondary:hover {
  background-color: #007164;
}